Source: tack
Section: misc
Priority: optional
Maintainer: Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 6), dpatch, autotools-dev, libncurses5-dev (>= 5.6+20071006-3)
Standards-Version: 3.7.3
Homepage: ftp://ftp.invisible-island.net/ncurses/
Vcs-Browser: http://git.debian.net/?p=tack.git
Vcs-Git: git://git.debian.net/git/tack.git

Package: tack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: terminfo action checker
 The 'tack' program is a diagnostic tool that is designed to create and verify
 the correctness of terminfo's. This program can be used to create new terminal
 descriptions that are not included in the standard ncurses release.
 .
 Although 'tack' has been distributed with ncurses-bin, it is not an integral
 part of ncurses and was thus split out from it by upstream.

Package: tack-dbg
Architecture: any
Section: devel
Priority: extra
Depends: tack (= ${binary:Version})
Description: terminfo action checker (debug)
 The 'tack' program is a diagnostic tool that is designed to create and verify
 the correctness of terminfo's. This program can be used to create new terminal
 descriptions that are not included in the standard ncurses release.
 .
 This package contains the debugging symbols.
