#!/usr/bin/make -f

# Make sure we aren't missing any symbols
export DEB_LDFLAGS_MAINT_APPEND = "-Wl,-z,defs"

%:
	dh ${@} --with autoreconf

override_dh_autoreconf:
	dh_autoreconf autoreconf-dickey -- -f -i

override_dh_auto_configure:
	dh_auto_configure -- --enable-warnings LIBS="-ltic"

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tack

override_dh_installchangelogs:
	dh_installchangelogs -k

override_dh_strip:
	dh_strip --dbg-package=tack-dbg
