#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_configure:
	LDFLAGS="-Wl,-z,defs,-ltic" dh_auto_configure -- --enable-warnings

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tack

override_dh_strip:
	dh_strip --dbg-package=tack-dbg
